.footer-container {
  font-size: 12px;

  padding-top: $base-padding-xxl;
  padding-bottom: $base-padding-xxl;

  border-top: 1px solid $brand-gray;
}

.footer-container .container .container {
  padding-right: 0;
  padding-left: 0;
}

.logo-container {
  margin-bottom: $base-margin-xl;
}

.footer__address {
  padding-bottom: 20px;

  p {
    line-height: 192%;
  }
}

.footer-address__title {
  margin-top: -6px;
}

.footer-contact__section {
  margin-top: -3px;
  padding-bottom: $base-padding-xl;

  p {
    line-height: 180%;
  }
}

.subscribe-form {
  font-size: 12px;
}

.subscribe-form__notification {
  display: none;

  margin-bottom: $base-margin-lg;
  padding-right: 15px;
  padding-left: 15px;

  .alert {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.subscribe-form__notification-lg {
  display: none;

  margin-bottom: $base-margin-lg;
}

.subscribe-form .form-control {
  font-size: 12px;

  padding: 7px 10px;

  border: none;
  border-radius: 0;
  background-color: $brand-light-gray;
}

.subscribe-form .btn-primary {
  width: 100%;
}

.copyright.desktop {
  font-size: $font-size-sm;

  margin-top: 0px;

  @media screen and (max-width: $grid-breakpoint-md) {
    display: none;
  }
}

.copyright.mobile {
  font-size: $font-size-sm;

  margin-top: 40px;

  @media screen and (min-width: $grid-breakpoint-md) {
    display: none;
  }
}

.social-links {
  margin-top: -18px;

  @media screen and (max-width: $grid-breakpoint-md) {
    margin-top: -10px;
  }
}

.social-links__link {
  display: inline-block;
  font-size: 35px;

  margin-right: 30px;
  margin-left: -9px;

  &.last {
    margin-right: 0;
  }

  color: $brand-blue;

  &:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: $grid-breakpoint-xl) {
    margin-right: 13px;

    &.last {
      margin-right: 0;
    }
  }

  @media screen and (max-width: $grid-breakpoint-lg) {
    margin-right: 27px;

    &.last {
      margin-right: 0;
    }
  }

  @media screen and (max-width: $grid-breakpoint-md) {
    font-size: 27px;
    margin-left: -6px;
    margin-right: 0px;

    &.last {
      margin-right: 0;
    }
  }
}

.footer-container .btn-donate {
  width: 100%;
  margin-top: 36px;
}

.terms-and-conditions-link .text {
  margin-top: 15px;
}

.terms-and-conditions-link.mobile .text {
  margin-top: 0;
}

.terms-and-conditions-link {
  color: $brand-blue !important;
}