body {
  font-family: "Polaris", "Helvetica";
  font-size: 14px;
  font-weight: normal;

  position: relative;

  color: $brand-copy;

  @media screen and (min-width: $grid-breakpoint-lg) {
    padding-top: 97px; // height of nav
  }

  @media screen and (max-width: $grid-breakpoint-lg) {
    padding-top: 59px; // height of nav
  }
}

.grouping {
  margin-bottom: $base-margin-xl;

  img.full-width {
    width: 100%;
    margin-top: $base-margin-xl;
    margin-bottom: $base-margin-xl;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.grouping__centered {
  text-align: center;
}

.content-container {
  min-height: 300px;
  padding-top: $base-padding-xxxl;
  padding-bottom: $base-padding-xxxl;
  
  @media screen and (max-width: $grid-breakpoint-md) {
    max-width: 100%;
    padding-top: $base-padding-xl;
    padding-bottom: $base-padding-xl;

    &.home-container {
      padding: 0;
      margin-top: -1px;
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.logo {
  font-weight: bold;

  text-transform: uppercase;

  color: $brand-blue;

  span.plus {
    font-weight: normal;
  }
}

.hidden {
  display: none !important;
}