.subscribe-form__notification {
  font-size: 24px;
}

.btn-primary {
  font-size: 28px;
}

.sub-heading {
  font-size: 24px;
  text-align: center;
}

.subscribe-form .form-control {
  font-size: 28px;
}

.subscribe-container {
  .intro {
    font-size: 30px;
  }
}

.section-header {
  h1 {
    font-size: 250%;
    font-weight: normal;
  }
  
  .section-header__description {
    font-size: 150%;
  }
}

.navbar-container-mobile__logo .logo {
  font-size: 20px;
}

.section-header__title {
  margin-bottom: 20px;
}
