<div class="sub-nav scroll-links {% if include.hidden != true %}is-visible{% endif %}">
  <div class="sub-nav__sub-nav-header">
    <p class="sub-nav-header__title sub-heading">Foster Youth<br>Practice Space</p>
    <a href="https://www.google.com/maps?q={{site['Foster Youth Practice Space'].street}} {{site['Foster Youth Practice Space'].city}} {{site['Foster Youth Practice Space'].state}} {{site['Foster Youth Practice Space'].zip}}" target="blank">
      <p class="sub-nav-header__subtitle">{{site['Foster Youth Practice Space'].street}}<br>
      {{site['Foster Youth Practice Space'].city}}, {{site['Foster Youth Practice Space'].state}} {{site['Foster Youth Practice Space'].zip}}</p>
    </a>
  </div>
  <div class="sub-nav__section-divider"></div>
  <div class="sub-nav__sub-nav-header">
    <p class="sub-nav-header__title sub-heading">First Place For Youth<br>@ A+P</p>
    <p class="sub-nav-header__subtitle">{{site['Foster Youth Practice Space'].email | email}}<br>
    {{site['Foster Youth Practice Space'].phone | phone}}</p>
  </div>
  <div class="sub-nav__section-divider"></div>

  <ul class="nav">
    <li class="sub-nav__nav-item nav-item scroll active">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="sub-nav__nav-item nav-item scroll">
      <a class="nav-link" href="#foster-youth-internships">A+P Foster Youth Internships</a>
    </li>
    <li class="sub-nav__nav-item nav-item scroll">
      <a class="nav-link" href="#collaborator">Foster Youth Collaborator</a>
    </li>
  </ul>
</div>
