<div class="sub-nav {% if include.hidden != true %}is-visible{% endif %}">
  <ul class="nav">
    <li class="sub-nav__nav-item {% if include.active == 'overview' %}active{% endif %}">
      <a class="nav-link" href="/about">about + location</a>
    </li>
    <li class="sub-nav__nav-item {% if include.active == 'board' %}active{% endif %}">
      <a class="nav-link" href="/about/board-and-staff/">board + staff</a>
    </li>
    <li class="sub-nav__nav-item {% if include.active == 'catalogues' %}active{% endif %}">
      <a class="nav-link" href="/about/annual-catalogues/">annual catalogues</a>
    </li>
  </ul>
</div>