---
layout: default
---

<div class="row annual-catalogues content">
  <div class="col-md-4 col-lg-3">
    {% include about/nav.html active="catalogues" %}
  </div>
  <div class="col-md-8 col-lg-9">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="grouping">
            {% include base/grouping-heading.html text="Annual Catalogues" %}
            <div class="text-center">
              {{ content | markdownify }}
            </div>
          </div>

          <div class="section-divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          {% for catalogue in page.catalogues %}
            <div class="row catalogue">
              <div class="col-lg-4 hidden-lg-up catalogue__description">
                {% include base/grouping-heading.html text=catalogue.year %}
                <div class="row">
                  <p class="catalogue-description__title">{{catalogue.name}}</p>
                </div>
                <div class="spacer-lg"></div>
              </div>
              <div class="col-lg-8">
                <a href="{{catalogue.file}}" target="_blank">
                  {% include base/image.html class="catalogue__cover-image" src=catalogue.cover_image %}
                </a>
                <div class="spacer-xl"></div>
                <a href="{{catalogue.file}}" target="_blank">
                  <button class="btn btn-primary">View Catalogue <i class="icon-right-dir"></i></button>
                </a>
              </div>
              <div class="col-lg-4 hidden-md-down catalogue__description">
                {% include base/grouping-heading.html text=catalogue.year %}
                <div class="row">
                  <p class="catalogue-description__title">{{catalogue.name}}</p>
                </div>
              </div>
            </div>
            {% if forloop.last == false %}
              <div class="section-divider"></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row bottom-nav">
  <div class="col-md-4 col-lg-3">
    {% include about/nav.html active="catalogues" hidden=true %}
  </div>
</div>