---
layout: default
---

<div class="row board-and-governance content">
  <div class="col-md-4 col-lg-3">
    {% include about/nav.html active="board" %}
  </div>
  <div class="col-md-8 col-lg-9">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="grouping">
            {% include base/grouping-heading.html text="founders" %}
            {% for founder in page.founders %}
              {% include about/board-listing.html person=founder %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="section-divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% include base/grouping-heading.html text="board of advisors" %}
        </div>
      </div>
      <div class="row">
        {% assign half = page.board.size | round: 1 | divided_by: 2 | ceil %}
        <div class="col-lg-6">
          {% for board_member in page.board limit: half %}
            {% include about/board-listing.html person=board_member %}
          {% endfor %}
        </div>
        <div class="col-lg-6">
          {% for board_member in page.board limit: half offset: half %}
            {% include about/board-listing.html person=board_member %}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="section-divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% include base/grouping-heading.html text="staff" %}
        </div>
      </div>
      <div class="row">
        {% assign half = page.staff.size | minus: 1 | round: 1 | divided_by: 2 | ceil %}
        {% assign second_half_offset = half | plus: 1 %}
        <div class="col-xs-12">
          {% for board_member in page.staff limit: 1 %}
            {% include about/board-listing.html person=board_member %}
          {% endfor %}
        </div>
        <div class="col-lg-6">
          {% for board_member in page.staff offset:1 limit: half %}
            {% include about/board-listing.html person=board_member %}
          {% endfor %}
        </div>
        <div class="col-lg-6">
          {% for board_member in page.staff limit: half offset: second_half_offset %}
            {% include about/board-listing.html person=board_member %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row bottom-nav">
  <div class="col-md-4 col-lg-3">
    {% include about/nav.html active="board" hidden=true %}
  </div>
</div>