---
layout: default
---

<div class="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 section-header">
        <h1 class="section-header__title">SUPPORTING ART + PRACTICE</h1>
        <div class="section-header__underline"></div>
        
          <div class="section-header__description text">
            <p><strong>Your support enables us to continue our work to connect Los Angeles through art, discourse, and critical resources.</strong></p>
            <p><strong>FOSTER ART + PRACTICE. Make a tax-deductible donation today.</strong></p>
            <p style="font-size: 12px">To make a donation via check, please call the A+P office at +1 (323) 337-6887 or e-mail us at <a href="mailto:office@artandpractice.org">office@artandpractice.org.</a></p>
          </div>
        
      </div>
    </div>
  </div>
  <div class="section-divider"></div>
</div>


<div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 section-header">
        <h1 class="section-header__title">MAKE A GIFT TO ART + PRACTICE</h1>
        
          <div class="section-header__description text">
            <p>Free A+P Hat included with a donation of $50 or more. No international shipping available. Make your hat selection below:</p>
          </div>
        
      </div>
    </div>

<div class="container">
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-md-offset-2">
      <div class="image-container" style="text-align: center">
        <img src="/uploads/hat-navy.jpg" width="643px" style="max-width: 100%">
Navy A+P Hat
      </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="image-container" style="text-align: center">
        <img src="/uploads/hat-royal.jpg" width="643px" style="max-width: 100%">
Royal Blue A+P Hat
      </div>
  </div>


</div>
</div>

<div class="row terms-and-conditions content">
  <div class="col-md-12 col-lg-12">
<iframe id='revv-iframe' 
allowpaymentrequest='true' 
frameborder='0' 
scrolling="no"
width='100%' 
height='2000px' 
src='https://artandpractice.revv.co/donate-new'></iframe>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-12 col-lg-12">
<p style="margin-bottom: 16px;">For contributions of $1,500 or less, the value of your contribution that is deductible for federal income tax purpose is limited to your contribution amount minus the fair market value of the Hat received in return for your gift. We estimate that the fair market value of the Hat is $50.00.</p>

<p style="margin-bottom: 16px;">A+P is a registered 501(c) 3 nonprofit. All donations are tax-deductible.</p>
  </div>
</div>
</div>



